---
interface Props {
	active?: boolean;
	expandable?: boolean;
	title?: string;
}

const { active = true, expandable = true, title = "" } = Astro.props;
---

<div class="titlebar relative h-7 w-full border-b border-black">
	<!-- bg lines -->
	<div
		class="absolute top-0 left-0 h-full w-full flex-col justify-center gap-0.5 bg-white"
		class:list={[{ hidden: !active }, { flex: active }]}
	>
		<div class="w-full border-b border-black"></div>
		<div class="w-full border-b border-black"></div>
		<div class="w-full border-b border-black"></div>
		<div class="w-full border-b border-black"></div>
		<div class="w-full border-b border-black"></div>
		<div class="w-full border-b border-black"></div>
	</div>

	<div
		class="relative flex h-full w-full flex-row items-center justify-between px-4"
	>
		<!-- close btn -->
		<button
			class="size-4 border border-black bg-white"
			class:list={[{ hidden: !active }, { block: active }]}></button>

		<!-- window title -->
		<div class="inline-flex items-center justify-start gap-2.5 bg-white px-2">
			<div
				class="text-center font-['ChicagoFLF'] text-xl leading-none font-medium text-black"
			>
				{title}
			</div>
		</div>

		<!-- maximize btn -->
		<button
			class="relative size-4 border border-black bg-white"
			class:list={[
				{ hidden: !active || !expandable },
				{ block: active && expandable },
			]}
		>
			<div
				class="absolute top-0 left-0 h-2.5 w-2.5 border-r border-b border-black"
			>
			</div>
		</button>
	</div>
</div>
