---
import Titlebar from "./Titlebar.astro";
import Infobar from "./Infobar.astro";

interface Props {
	active?: boolean;
	expandable?: boolean;
	title?: string;
	infobar?: string[];
}

const {
	active = true,
	expandable = true,
	title = "",
	infobar = [],
} = Astro.props;
---

<div
	style="box-shadow: 1px 1px;"
	class="flex max-h-full flex-col border border-solid border-black bg-white"
>
	<Titlebar active={active} expandable={expandable} title={title} />
	{infobar.length > 0 && <Infobar messages={infobar} />}
	<div class="scrollbar max-h-full border-solid border-black">
		<div class="h-fit">
			<slot />
		</div>
	</div>
</div>

<style>
	@reference "../../styles/global.css";

	.scrollbar {
		@apply overflow-auto overscroll-none;
	}

	.scrollbar::-webkit-scrollbar {
		@apply border-none bg-white;
	}

	.scrollbar::-webkit-scrollbar:vertical {
		@apply w-8;
	}

	.scrollbar::-webkit-scrollbar:horizontal {
		@apply h-8;
	}

	.scrollbar::-webkit-scrollbar-corner {
		@apply h-8 border-0 border-t border-l border-solid border-black bg-white bg-center bg-no-repeat;
		background-image: url("assets/scroll_resize.svg");
	}

	.scrollbar::-webkit-scrollbar-track {
		@apply bg-white;
		background-image: url("assets/scroll_bg.svg");
	}

	.scrollbar::-webkit-scrollbar-track:vertical {
		@apply border-0 border-l border-solid border-black;
	}

	.scrollbar::-webkit-scrollbar-track:horizontal {
		@apply border-0 border-t border-solid border-black;
	}

	.scrollbar::-webkit-scrollbar-thumb:vertical {
		@apply h-auto border-y border-r-0 border-l border-solid border-black bg-white;
	}

	.scrollbar::-webkit-scrollbar-thumb:horizontal {
		@apply h-auto border-x border-t border-b-0 border-solid border-black bg-white;
	}

	.scrollbar::-webkit-scrollbar-button:horizontal:start:decrement,
	.scrollbar::-webkit-scrollbar-button:horizontal:end:increment,
	.scrollbar::-webkit-scrollbar-button:vertical:start:decrement,
	.scrollbar::-webkit-scrollbar-button:vertical:end:increment {
		@apply block size-8;
	}

	.scrollbar::-webkit-scrollbar-button:horizontal:start:decrement {
		@apply border-t border-r border-b-0 border-l-0 border-solid border-black bg-center bg-no-repeat;
		background-image: url("assets/scroll_arrow_l.svg");
	}

	.scrollbar::-webkit-scrollbar-button:horizontal:end:increment {
		@apply border-t border-r-0 border-b-0 border-l border-solid border-black bg-center bg-no-repeat;
		background-image: url("assets/scroll_arrow_r.svg");
	}

	.scrollbar::-webkit-scrollbar-button:vertical:start:decrement {
		@apply border-0 border-b border-l border-solid border-black bg-center bg-no-repeat;
		background-image: url("assets/scroll_arrow_u.svg");
	}

	.scrollbar::-webkit-scrollbar-button:vertical:end:increment {
		@apply border-0 border-t border-l border-solid border-black bg-center bg-no-repeat;
		background-image: url("assets/scroll_arrow_d.svg");
	}
</style>
