---
import Layout from "../layouts/MacLayout.astro";
---

<Layout title="ethanlew.dev - Contact">
	<div class="flex flex-col gap-4">
		<div>
			<h1>Contact Information</h1>
			<a class="btn text-xl" href="/">
				<i class="i-fa6-solid:arrow-left"></i>
				Back to Index Card
			</a>
		</div>

		<p class="text-center text-2xl">
			For all inquiries, please send an email to:<br />

			<strong>hi</strong> (at) <strong>ethanlew</strong> (dot)
			<strong>dev</strong>
			<br />
			<i class="i-fa6-solid:envelope-open-text"></i>
			<i class="i-fa6-solid:heart"></i>
		</p>
	</div>
</Layout>
