---
import MacDesktop from "../layouts/MacDesktop.astro";
---

<MacDesktop title="ethanlew.dev">
	<div class="flex flex-col p-4">
		<div class="mb-8 flex h-full flex-grow flex-col gap-3 px-4">
			<h1 class="text-5xl">
				<span class="font-lobster">Hello</span>, <span class="font-chicago"
					>I'm Ethan Lew!</span
				>
			</h1>
			<article class="prose prose-lg">
				<p>
					I'm a software developer with a B.S. Computer Science degree from Cal
					State Fullerton. I have experience with the following technologies:
				</p>

				<ul>
					<li>
						<i class="icon-[logos--html-5] mr-1"></i>HTML, <i
							class="icon-[logos--css-3] mr-1"></i>CSS,
						<i class="icon-[logos--javascript] mr-1"></i>JavaScript, <i
							class="icon-[logos--typescript-icon] mr-1"></i>TypeScript
					</li>
					<li>
						<i class="icon-[logos--react] mr-1"></i>React,
						<i class="icon-[logos--svelte-icon] mr-1"></i>Svelte,
						<i class="icon-[logos--astro-icon] mr-1"></i>Astro
					</li>
					<li>
						<i class="icon-[logos--nextjs-icon] mr-1"></i>Next.js, <i
							class="icon-[logos--svelte-icon] mr-1"></i>SvelteKit
					</li>
					<li>
						<i class="icon-[logos--c-sharp] mr-1"></i>C#/<i
							class="icon-[logos--dotnet] mr-1"></i>.NET,
						<i class="icon-[logos--dotnet] mr-1"></i>Blazor,
						<i class="icon-[logos--xamarin] mr-1"></i>.NET MAUI
					</li>
					<li>
						<i class="icon-[logos--unity] mr-1"></i>Unity, <i
							class="icon-[logos--godot-icon] mr-1"></i>Godot Engine
					</li>
				</ul>

				<p>For more information, click the buttons below.</p>

				<p>
					<strong>I'm currently seeking full-time employment!</strong> For more information,
					click the "Resumé" button below.
				</p>
			</article>
		</div>

		<div
			class="flex flex-row justify-center gap-4 rounded-md bg-neutral-400 px-2 py-4"
		>
			<a
				class="flex flex-row items-center gap-1 rounded-md border-2 border-black bg-white px-1.5 py-1 text-2xl active:border-white active:bg-black active:text-white disabled:opacity-50"
				href="/resume"
			>
				<i class="icon-[fa6-solid--address-card]"></i>Resumé
			</a>
			<a
				class="flex flex-row items-center gap-1 rounded-md border-2 border-black bg-white px-1.5 py-1 text-2xl active:border-white active:bg-black active:text-white disabled:opacity-50"
				href="/contact"
			>
				<i class="icon-[fa6-solid--envelope]"></i>Contact
			</a>
			<a
				class="flex flex-row items-center gap-1 rounded-md border-2 border-black bg-white px-1.5 py-1 text-2xl active:border-white active:bg-black active:text-white disabled:opacity-50"
				href="/projects"
			>
				<i class="icon-[fa6-solid--brain]"></i>Projects
			</a>
			<a
				class="flex flex-row items-center gap-1 rounded-md border-2 border-black bg-white px-1.5 py-1 text-2xl active:border-white active:bg-black active:text-white disabled:opacity-50"
				href="/about-site"
			>
				<i class="icon-[fa6-solid--circle-question]"></i>About this site
			</a>
		</div>
	</div>
</MacDesktop>
