---
import Layout from "../layouts/MacLayout.astro";
---

<Layout title="ethanlew.dev - Projects">
	<div class="flex flex-col gap-4">
		<div>
			<h1>Projects</h1>
			<a class="btn text-xl" href="/">
				<i class="i-fa6-solid:arrow-left"></i>
				Back to Index Card
			</a>
		</div>

		<div class="flex flex-col gap-4 p-4">
			<p>Here are some of the projects I've worked on:</p>

			<ul class="list-disc-inside">
				<li>todo</li>
			</ul>

			<p>
				For more information, please visit my
				<a
					class="underline"
					href="http://github.com/ethanl21"
					target="_blank"
					rel="noopener noreferrer">GitHub</a
				>
				page.
			</p>
		</div>
	</div>
</Layout>
