---
import MacDesktop from "../layouts/MacDesktop.astro";
---

<MacDesktop title="Projects">
	<div class="flex h-full max-h-full flex-col gap-2 p-8">
		<div class="flex flex-col gap-2">
			<h1 class="font-chicago text-3xl font-bold">Projects</h1>
			<a
				class="flex w-fit flex-row items-center gap-1 rounded-md border-2 border-black bg-white px-1.5 py-1 text-2xl active:border-white active:bg-black active:text-white disabled:opacity-50"
				href="/"
			>
				<i class="icon-[fa6-solid--arrow-left]"></i>
				Back to Index Page
			</a>
		</div>

		<article class="prose">
			<ul>
				<li>
					ethanlew.dev
					<ul>
						<li>
							Built using <i
								class="icon-[logos--astro-icon] mr-1 align-middle leading-none"
							></i>{Astro.generator}
						</li>
						<li>
							Styled with <i
								class="icon-[logos--tailwindcss-icon] mr-1 align-middle leading-none"
							></i>TailwindCSS
						</li>
					</ul>
				</li>
				<li>
					psvm
					<ul>
						<li>Pokémon Showdown's battle simulator as a C++ library</li>
						<li>
							Bundled with <i
								class="icon-[logos--esbuild] mr-1 align-middle leading-none"
							></i>esbuild, built using <i
								class="icon-[vscode-icons--file-type-meson] mr-1 align-middle leading-none"
							></i>Meson
						</li>
					</ul>
					<li>
						CalSafe
						<ul>
							<li>
								A <i
									class="icon-[logos--nextjs-icon] mr-1 align-middle leading-none"
								>
								</i>Next.js web app that plots Southern California vehicle
								collision data on a map
							</li>
							<li>
								Styled with <i
									class="icon-[logos--tailwindcss-icon] mr-1 align-middle leading-none"
								></i>TailwindCSS and shadcn/ui
							</li>
						</ul>

						<li>
							CovidMap
							<ul>
								<li>
									Plots graphs and diagrams of CoVID-19 metrics sourced from
									multiple REST APIs
								</li>
								<li>
									A <i
										class="icon-[logos--react] mr-1 align-middle leading-none"
									></i>React app built with <i
										class="icon-[logos--vitejs] mr-1 align-middle leading-none"
									></i>Vite
								</li>
							</ul>
						</li>
						<li>
							RetroRatings
							<ul class="list-disc-inside ml-8">
								<li>
									A <i
										class="icon-[logos--react] mr-1 align-middle leading-none"
									></i>React app used to rate items similar to Yelp
								</li>
								<li>
									Uses <i
										class="icon-[logos--firebase] mr-1 align-middle leading-none"
									></i>
									Firebase + Cloud Firestore
								</li>
							</ul>
						</li>
						<li>
							ScribbleBounce
							<ul>
								<li>
									A <i
										class="icon-[logos--unity] mr-1 align-middle leading-none"
									></i>Unity game
								</li>
								<li>
									Puzzle game where the player must draw lines to bounce a ball
									into a goal
								</li>
							</ul>
						</li>
					</li>

					<p>
						For more information, please visit my
						<a
							class="underline"
							href="http://github.com/ethanl21"
							target="_blank"
							rel="noopener noreferrer">GitHub</a
						>
						page.
					</p>
				</li>
			</ul>
		</article>
	</div>
</MacDesktop>
