---
import Layout from "../layouts/MacLayout.astro";
---

<Layout title="ethanlew.dev - Projects">
	<div class="flex flex-col gap-4">
		<div>
			<h1>Projects</h1>
			<a class="btn text-xl" href="/">
				<i class="i-fa6-solid:arrow-left"></i>
				Back to Index Card
			</a>
		</div>

		<div class="flex flex-col gap-4 p-4">
			<p>Here are some of the projects I've worked on:</p>

			<ul class="list-disc-inside">
				<li>
					ethanlew.dev
					<ul class="ml-4 list-disc-inside">
						<li>
							Built using <i
								class="i-logos:astro-icon mr-1 align-middle leading-none"></i>{
								Astro.generator
							}
						</li>
						<li>
							Styled with <i
								class="i-logos:unocss mr-1 align-middle leading-none"></i>UnoCSS
						</li>
					</ul>
				</li>
				<li>
					psvm
					<ul class="ml-4 list-disc-inside">
						<li>Pokémon Showdown's battle simulator as a C++ library</li>
						<li>
							Bundled with <i
								class="i-logos:esbuild mr-1 align-middle leading-none"
							></i>esbuild, built using <i
								class="i-vscode-icons:file-type-meson mr-1 align-middle leading-none"
							></i>Meson
						</li>
					</ul>
					<li>
						CalSafe
						<ul class="ml-4 list-disc-inside">
							<li>
								A <i class="i-logos:nextjs-icon mr-1 align-middle leading-none">
								</i>Next.js web app that plots Southern California vehicle
								collision data on a map
							</li>
							<li>
								Styled with <i
									class="i-logos:tailwindcss-icon mr-1 align-middle leading-none"
								></i>Tailwind CSS and shadcn/ui
							</li>
						</ul>

						<li>
							CovidMap
							<ul class="ml-4 list-disc-inside">
								<li>
									Plots graphs and diagrams of CoVID-19 metrics sourced from
									multiple REST APIs
								</li>
								<li>
									A <i class="i-logos:react mr-1 align-middle leading-none"
									></i>React app built with <i
										class="i-logos:vitejs mr-1 align-middle leading-none"
									></i>Vite
								</li>
							</ul>
						</li>
						<li>
							RetroRatings
							<ul class="ml-4 list-disc-inside">
								<li>
									A <i class="i-logos:react mr-1 align-middle leading-none"
									></i>React app used to rate items similar to Yelp
								</li>
								<li>
									Uses <i
										class="i-logos:firebase mr-1 align-middle leading-none"></i>
									Firebase + Cloud Firestore
								</li>
							</ul>
						</li>
						<li>
							ScribbleBounce
							<ul class="ml-4 list-disc-inside">
								<li>
									A <i class="i-logos:unity mr-1 align-middle leading-none"
									></i>Unity game
								</li>
								<li>
									Puzzle game where the player must draw lines to bounce a ball
									into a goal
								</li>
							</ul>
						</li>
					</li>

					<p class="mt-4">
						For more information, please visit my
						<a
							class="underline"
							href="http://github.com/ethanl21"
							target="_blank"
							rel="noopener noreferrer">GitHub</a
						>
						page.
					</p>
				</li>
			</ul>
		</div>
	</div>
</Layout>
