---
export interface Heading {
	depth: number;
	slug: string;
	text: string;
	children: Heading[];
}

interface Props {
	heading: Heading;
}
const { heading } = Astro.props;
---

<li class="grid gap-3">
	<a href={"#" + heading.slug}>
		{heading.text}
	</a>
	{
		heading.children.length > 0 && (
			<ul class="grid gap-3 pl-8">
				{heading.children.map((child: Heading) => (
					<Astro.self heading={child} />
				))}
			</ul>
		)
	}
</li>
