---

---

<theme-switcher>
	<button class="w-6">
		<i class="i-fa6-solid:moon hidden dark:text-white"></i>
		<i class="i-fa6-solid:sun hidden dark:text-white"></i>
		<i class="i-fa6-solid:laptop hidden dark:text-white"></i>
	</button>
</theme-switcher>

<script>
	type Mode = "light" | "dark" | "system";

	class ThemeSwitcher extends HTMLElement {
		constructor() {
			super();

			// Init the theme variable
			const mode = localStorage.getItem("mode") || "system";
			this.mode = ["light", "dark", "system"].includes(mode)
				? (mode as Mode)
				: "system";

			// Update the theme
			window.document.documentElement.classList.toggle(
				"dark",
				this.mode === "dark" ||
					(this.mode == "system" &&
						window.matchMedia("(prefers-color-scheme: dark)").matches),
			);
		}

		connectedCallback() {
			// Button click event listener
			this.querySelector("button")?.addEventListener("click", () => {
				switch (this.mode) {
					case "light":
						this.mode = "dark";
						break;
					case "dark":
						this.mode = "system";
						break;
					case "system":
						this.mode = "light";
						break;
				}

				// Change the theme if in system mode
				window
					.matchMedia("(prefers-color-scheme: dark)")
					.addEventListener("change", (event) => {
						if (this.mode === "system") {
							window.document.documentElement.classList.toggle(
								"dark",
								event.matches,
							);
						}
					});
			});
		}

		private _mode: Mode = "system";
		set mode(value: Mode) {
			// Update the mode variable
			localStorage.setItem("mode", value);
			this._mode = value;

			// Hide all the icons
			this.querySelectorAll("i").forEach((icon) => {
				icon.classList.add("hidden");
			});

			// Show the correct icon and update the theme
			switch (this._mode) {
				case "light":
					this.querySelector(".i-fa6-solid\\:sun")?.classList.remove("hidden");
					window.document.documentElement.classList.remove("dark");
					break;
				case "dark":
					this.querySelector(".i-fa6-solid\\:moon")?.classList.remove("hidden");
					window.document.documentElement.classList.add("dark");
					break;
				case "system":
					this.querySelector(".i-fa6-solid\\:laptop")?.classList.remove(
						"hidden",
					);
					window.document.documentElement.classList.toggle(
						"dark",
						window.matchMedia("(prefers-color-scheme: dark)").matches,
					);
					break;
			}
		}

		get mode() {
			return this._mode;
		}
	}

	window.customElements.define("theme-switcher", ThemeSwitcher);
</script>
