---
import { getCollection, render } from "astro:content";
import NotebookLayout from "../../layouts/NotebookLayout.astro";
import { getEntry } from "astro:content";

const posts = await getCollection("notebook");

const postInfo = posts
	.map((post) => ({
		id: post.id,
		permalink: post.data.permalink,
		title: post.data.title,
	}))
	.filter((post) => post.id !== "index");

const index = await getEntry("notebook", "index");
const { Content, headings, remarkPluginFrontmatter } = await render(index!);
---

<NotebookLayout title="Notebook" tree={postInfo}>
	<article class="mx-auto prose">
		<h1>{index!.data.title}</h1>
		<Content />
	</article>
</NotebookLayout>
