---
import { render, getEntry } from "astro:content";
import NotebookLayout from "../../layouts/NotebookLayout.astro";

const index = await getEntry("notebook", "index");
const { Content, headings, remarkPluginFrontmatter } = await render(index!);
---

<NotebookLayout title="Notebook">
	<article class="mx-auto prose">
		<h1>{index!.data.title}</h1>
		<Content />
	</article>
</NotebookLayout>
