---
import ThemeSwitcher from "../components/ThemeSwitcher.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="min-h-screen">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<script
			is:inline
			data-goatcounter="https://ethanlewdotdev.goatcounter.com/count"
			async
			src="//gc.zgo.at/count.js"></script>
	</head>
	<body class="min-h-screen flex flex-col bg-amber-50 dark:bg-slate-900">
		<header class="shrink">
			<div class="flex flex-row items-center p-3 space-x-4">
				<div class="text-4xl font-semibold font-mono">&gt; ethanlew.dev</div>

				<nav class="flex grow flex-row justify-end">
					<ul class="flex space-x-2">
						<a href="/posts">Posts</a>
						<li>Tags</li>
					</ul>
				</nav>

				<ThemeSwitcher />
			</div>
			<slot name="header" />
		</header>

		<div class="flex grow flex-col">
			<slot />
		</div>

		<span class="mx-auto container">
			<hr />
		</span>
		<footer class="mx-auto shrink py-4 container">
			<div class="flex flex-col items-center justify-center">
				<nav>
					<ul class="flex space-x-4">
						<li>About</li>
						<li>Contact</li>
						<li>Source Code</li>
						<li>Sitemap</li>
					</ul>
				</nav>
			</div>
			<slot name="footer" />
		</footer>
	</body>
</html>
